<div>
    <app-info-margen [titulo]="juego.title"
    [miniatura]="juego.thumbnail"
    [url]="juego.game_url"
    [id]="juego.id"
    [distribuidor]="juego.publisher">
    </app-info-margen>
    
    <app-desc-juego [descripcionJuego]="juego.description" 
    [requisitosMinimos]="juego.minimum_system_requirements" 
    [genero]="juego.genre"
    [desarrollador]="juego.developer"
    [distribuidor]="juego.publisher"
    [fechaLanzamiento]="juego.release_date"
    [plataforma]="juego.platform"></app-desc-juego>
    <div class="imagenes">
        <img *ngFor="let img of juego.screenshots" src="{{img.image}}" alt="{{juego.title}}">
    </div>  

    <app-comentarios [id]="juego.id"></app-comentarios>

    <h4>Related games...</h4>
    <div class="recomendados" *ngFor="let recomendado of juegosRecomendados">
        <app-miniatura imagen="{{recomendado.thumbnail}}"
        titulo="{{recomendado.title}}"
        [id]="recomendado.id"></app-miniatura>
    </div>

</div>