<div class="grid-layout">
    <app-info-margen [titulo]="juego.title"
    [miniatura]="juego.thumbnail"
    [url]="juego.game_url"></app-info-margen>
    <app-desc-juego [descripcionJuego]="juego.description" 
    [requisitosMinimos]="juego.minimum_system_requirements" 
    [genero]="juego.genre"
    [desarrollador]="juego.developer"
    [distribuidor]="juego.publisher"
    [fechaLanzamiento]="juego.release_date"
    [plataforma]="juego.platform"></app-desc-juego>
    <div *ngFor="let img of juego.screenshots">
        <img src="{{img.image}}" alt="{{juego.title}}">
    </div>
</div>