*{
    text-align: center;
}

.imagenes{
    text-align: center;
}

h4{
    color: #F9185F;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

img{
    width: 300px;
    display: inline-flex;
    text-align: center;
    padding: 1px;
    justify-content:space-around;
}



.recomendados{
    display: inline-flex;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    align-items: center;
    transition: transform .2s; 
}

.recomendados:hover{
    transform: scale(1.2); 
}