*{
    text-align: center;
}

div{
    padding-top: 10px;
}

.vistaFavoritos{
    display: inline-flex;
    text-align: center;
    padding: 1px;
    cursor: pointer;   
}

#borrar{
    margin-top: 50px;
}


