<h1>Welcome to F2P</h1>
<div class="subtitulo">
    <h3>Explore the largest catalog of free games in the world</h3>
    <a routerLink='/filterp/all'>See all games</a>
</div> <br>

<div class="previewJuegos">
<h2>MOST PLAYED</h2>
<div class="mostrar" *ngFor="let juego of juegosPopulares">
    <app-miniatura 
    imagen="{{juego.thumbnail}}"
    titulo="{{juego.title}}"
    [id]="juego.id">
</app-miniatura>
</div>
<h2>JUST ADDED</h2>
<div class="mostrar" *ngFor="let juego of juegosRecienAnadidos">
    <app-miniatura 
    imagen="{{juego.thumbnail}}"
    titulo="{{juego.title}}"
    [id]="juego.id">
</app-miniatura>
</div>
</div>
