<h1>Bienvenido a F2P</h1>
<div class="subtitulo">
    <h3>Explora el mayor catalogo de juegos gratis del mundo</h3>
    <a routerLink='/filterp/all'>Ver todos los juegos</a>
</div> <br>

<h2>LO MAS JUGADO</h2>
<div class="mostrar" *ngFor="let juego of juegosPopulares">
    <app-miniatura 
    imagen="{{juego.thumbnail}}"
    titulo="{{juego.title}}"
    [id]="juego.id">
</app-miniatura>
</div>
<h2>RECIEN AÑADIDO</h2>
<div class="mostrar" *ngFor="let juego of juegosRecienAnadidos">
    <app-miniatura 
    imagen="{{juego.thumbnail}}"
    titulo="{{juego.title}}"
    [id]="juego.id">
</app-miniatura>
</div>

