aside{
    max-width: 800px;
    margin: 50px auto;
    padding: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

#titulo{
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

button{
    margin-top: 30px;
    color: #4428A2;
    cursor: pointer;
    background-color: #12C2E9;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

button:hover{
    background-color: #9bdcea;
}
