.aside{
    display: grid;
    background-color: aquamarine;
    padding: 20px;
    width: 20%;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}

#contenedorBoton{
    margin-top: 15px;
}