.logo {
    width: 60px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #252625;
}

.barraBusqueda {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

#search-input {
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.nav-item {
    margin: 0 10px;
}

.nav-link,
.dropbtn,
.mat-flat-button {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
}

.nav-link:hover,
.dropbtn:hover,
.mat-flat-button:hover {
    color: #F9185F;
}

.navbar-toggler-icon {
    background-color: #000;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px){
        padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px){
        padding-top: 4rem;
    }
}

.expanded{
    width: 250px;
}

mat-list-item{
    height: fit-content;
}