<div class="navbar">
    <a routerLink="">Inicio</a>
    <a href="#news">Noticias</a>
    <div class="dropdown">
       <button class="dropbtn">Generos 
         <i class="fa fa-caret-down"></i>
       </button>
       <div class="dropdown-content">
         <a href="#">Categoria 1</a>
         <a href="#">Categoria 2</a>
         <a href="#">Categoria 3</a>
       </div>
    </div> 
    <div class="dropdown">
       <button class="dropbtn">Plataformas 
         <i class="fa fa-caret-down"></i>
       </button>
       <div class="dropdown-content">
         <a routerLink='/filterp/pc'>PC</a>
         <a routerLink='/filterp/browser'>Browser</a>
       </div>
    </div> 
    <a href="#profile" class="right">Perfil</a>
   </div>
<router-outlet></router-outlet>
