<div class="navbar">
   <a routerLink=""><img src="../assets/logoZoom.png" alt="logo"></a>
   <div class="barraBusqueda">
      <input placeholder="Buscar juegos" autocomplete="off" [(ngModel)]="busqueda" id="search-input">
      <button id="buscar" mat-raised-button color="primary" routerLink="/search/{{busqueda}}">Buscar</button>
   </div>
   
    <div class="dropdown">
       <button class="dropbtn">Generos 
         <i class="fa fa-caret-down"></i>
       </button>
       <div class="dropdown-content" >
          <a *ngFor='let genero of generos' routerLink='/filterg/{{genero.toLocaleLowerCase()}}'>{{genero.replace("-", " ")}}</a>
       </div>
    </div> 
    <div class="dropdown">
       <button class="dropbtn">Plataformas 
         <i class="fa fa-caret-down"></i>
       </button>
       <div class="dropdown-content">
        <a *ngFor='let plataforma of plataformas' routerLink='/filterp/{{plataforma.toLowerCase()}}'>{{plataforma}}</a>
       </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Ordenar 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
       <a *ngFor='let sort of sorts' routerLink='/filters/{{sort.toLowerCase()}}'>{{sort.replace("-", " ")}}</a>
      </div>
   </div>
   <div class="dropdown">
      <button class="dropbtn">Perfil
         <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
         <a routerLink="/login">Iniciar Sesion</a>
         <a routerLink="/register">Registrarse</a> 
      </div>
   </div>

   


</div>
<router-outlet></router-outlet>
