<div class="login">
  <form method="post" (ngSubmit)="onSubmit()" #loginForm="ngForm" class="custom-form">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="usuario.email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="usuario.password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" [disabled]="!loginForm.form.valid">Ingresar</button>
  </form>
</div>


