<!-- 
<div class="login" id="login">
  <form method="post" (ngSubmit)="onSubmit()" #loginForm="ngForm" class="custom-form">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="usuario.email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="usuario.password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <div id="error-container" class="error-container">
      <p id="error-message" class="error-message"></p>
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Ingresar</button>
  </form>
</div>

<div class="perfil-usuario-container" id="perfil-usuario-container">
  <p>Bienvenido! {{ usuario.email }}</p>

  <div class="botones">
    <button routerLink="/filterp/all">Explorar juegos</button>
    <button routerLink="/miperfil">Ver mi perfil</button>
  </div>

</div>
-->
<div class="custom-form">
  <h1>Inicio de Sesion</h1>
  <div class="mb-3">
    <input [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  
  
  <div class="mb-3">
    <input [(ngModel)]="user.password" type="password" class="form-control" id="pass" placeholder="Contraseña">
  </div>
  
  <button class="btn btn-primary" (click)="logIn()">Login</button>
</div>




