<div class="dropdown" *ngIf="isLoggedIn; else loggedOut">
    <button mat-flat-button [matMenuTriggerFor]="profile" class="dropbtn">Perfil
       <i class="fa fa-caret-down"></i>
    </button>
    <mat-menu #profile="matMenu" class="dropdown-content">
       <button mat-menu-item routerLink="/miperfil">Mi Perfil</button> 
       <button mat-menu-item routerLink="/mygames">Lista favoritos</button> 
       <button mat-menu-item routerLink="/home" (click)="confirmarCerrarSesion()">Cerrar Sesion</button>
    </mat-menu>
 </div>


<ng-template #loggedOut>
    <button mat-flat-button [matMenuTriggerFor]="profile" class="dropbtn">Perfil
        <i class="fa fa-caret-down"></i>
    </button>
        <mat-menu #profile="matMenu" class="dropdown-content">
        <button mat-menu-item routerLink="/login" (click)="ngOnInit()">Iniciar Sesion</button>
        <button mat-menu-item routerLink="/register">Registrarse</button> 
        </mat-menu>
</ng-template>

