* {
    font-family: Arial, sans-serif;
}

.btn-profile {
    position: relative; /* Para que el dropdown del perfil se posicione correctamente */
}

.btn-profile .nav-link {
    color: #f2f2f2;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-size: 16px; 
}

.btn-profile .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.btn-profile .dropdown-content {
    top: 40px; /* Ajuste de la posición del dropdown */
}
