<!-- 
<div class="dropdown">
    <button>
        <a class="nav-link dropbtn" *ngIf= "!isLoggedIn" routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-link dropbtn" *ngIf="isLoggedIn" routerLink="miperfil" routerLinkActive="active">Perfil</a>
    </button>
</div>

-->

<div class="dropdown btn-profile">
    <a class="nav-link dropbtn" *ngIf="!isLoggedIn" routerLink="login" routerLinkActive="active">Login</a>
    <a class="nav-link dropbtn" *ngIf="!isLoggedIn" routerLink="register" routerLinkActive="active">Register</a>        
    <a class="nav-link dropbtn" *ngIf="isLoggedIn" routerLink="miperfil" routerLinkActive="active">Perfil</a>
</div>





