#btnJugar{
    background-color: #199319;
    color: white;
    padding: 15px 155px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#btnJugar:hover{
    background-color: #64c269;
}