<!--<body> 
    <div class="dropdown"> 
        <button class="dropbtn">Plataformas</button> 
        <div class="dropdown-content"> 
            <a href="#">All platforms</a> 
            <a href="#">PC</a> 
            <a href="#">Browser</a>  
        </div> 
    </div> 
    <div class="dropdown"> 
        <button class="dropbtn">Generos</button> 
        <div class="dropdown-content"> 
            <a href="#">All genres</a> 
            <a href="#">MMORPG</a> 
            <a href="#">Shooter</a> 
            <a href="#">Strategy</a> 
            <a href="#">Moba</a> 
            <a href="#">Racing</a> 
            <a href="#">Sports</a> 
            <a href="#">Social</a> 
            <a href="#">Sandbox</a> 
            <a href="#">Open-world</a> 
            <a href="#">PVP</a> 
            <a href="#">PVE</a> 
            <a href="#">Pixel</a> 
            <a href="#">Voxel</a> 
            <a href="#">Zombie</a> 
            <a href="#">Turn-based</a> 
            <a href="#">First-person</a> 
            <a href="#">Third-Person</a> 
            <a href="#">Tank</a> 
            <a href="#">Space</a> 
            <a href="#">Sailing</a> 
            <a href="#">Side-scroller</a> 
            <a href="#">Superhero</a> 
            <a href="#">Permadeath</a> 
            <a href="#">Card</a> 
            <a href="#">Battle-royale</a> 
            <a href="#">MMO</a> 
            <a href="#">MMOTPS</a> 
            <a href="#">3D</a> 
            <a href="#">2D</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a> 
            <a href="#">MMOFPS</a>
        </div> </div> <div class="dropdown"> 
            <button class="dropbtn">Menú 3</button> 
            <div class="dropdown-content"> 
                <a href="#">Submenú 3.1</a> 
                <a href="#">Submenú 3.2</a> 
                <a href="#">Submenú 3.3</a> 
            </div> 
        </div>-->

<div *ngFor="let juego of juegos">
    <app-miniatura imagen="{{juego.thumbnail}}"
    titulo="{{juego.title}}"
    descripcion="{{juego.short_description}}"
    [id]="juego.id"></app-miniatura>
</div>
