*{
    text-align: center;
}

div{
    padding-top: 10px;
}

.previewJuegos{
    display: inline-flex;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    transition: transform .2s; 
}

.previewJuegos:hover{
    transform: scale(1.2); 
}

h2{
    color: red;
    font-size: 40px;
}
