header{
    color: #F9185F;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

#contenedorDescripcion{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

#infoJuego{
    padding-left: 50px;
    padding-right: 50px;
}

