<section id="infoJuego">
    <section id="contenedorDescripcion">
        <header>Descripcion</header>
        <article>
            <p id="descripcion">{{descripcionJuego}}</p>
        </article>
    </section>

    <section id="contenedorDatos">
        <header>Informacion del juego</header>
        <article>
            <ul id="listaDatos">
                <li><span class="nombreDato">Genero: {{genero}}</span><span id="genero"></span></li>
                <li><span class="nombreDato">Plataforma: {{plataforma}}</span><span id="plataforma"></span></li>
                <li><span class="nombreDato">Distribuidor: {{distribuidor}}</span><span id="distribuidor"></span></li>
                <li><span class="nombreDato">Desarrollador: {{desarrollador}}</span><span id="desarrollador"></span></li>   
                <li><span class="nombreDato">Año de salida: {{fechaLanzamiento}}</span><span id="anioSalida"></span></li>   
            </ul>
        </article>
    </section>

    <section id="contenedorRequisitos">
        <header>Requisitos minimos del sistema</header>
        <article>
            <ul id="listaRequisitos">
                <li><span class="nombreDato">Sistema operativo: {{requisitosMinimos.os}}</span><span id="so"></span></li>
                <li><span class="nombreDato">Procesador: {{requisitosMinimos.processor}}</span><span id="procesador"></span></li>
                <li><span class="nombreDato">Memoria: {{requisitosMinimos.memory}}</span><span id="memoria"></span></li>
                <li><span class="nombreDato">Graficos: {{requisitosMinimos.graphics}}</span><span id="grafica"></span></li>   
                <li><span class="nombreDato">Almacenamiento: {{requisitosMinimos.storage}}</span><span id="almacenamiento"></span></li>     
            </ul>
        </article>
    </section>

    <section id="screenshots">
    </section>

    <section id="juegosRelacionados">

    </section>

</section>
