<section id="infoJuego">
    <section id="contenedorDescripcion">
        <header>Description</header>
        <article>
            <p id="descripcion">{{descripcionJuego}}</p>
        </article>
    </section>

    <section id="contenedorDatos">
        <header>Game info</header>
        <article>
            <ul id="listaDatos">
                <li><span class="nombreDato">Genre: {{genero}}</span><span id="genero"></span></li>
                <li><span class="nombreDato">Platform: {{plataforma}}</span><span id="plataforma"></span></li>
                <li><span class="nombreDato">Publisher: {{distribuidor}}</span><span id="distribuidor"></span></li>
                <li><span class="nombreDato">Developer: {{desarrollador}}</span><span id="desarrollador"></span></li>   
                <li><span class="nombreDato">Release date: {{fechaLanzamiento}}</span><span id="anioSalida"></span></li>   
            </ul>
        </article>
    </section>

    <section id="contenedorRequisitos">
        <header>Minimum System Requirements</header>
        <article>
            <ul id="listaRequisitos">
                <li><span class="nombreDato">OS: {{requisitosMinimos.os}}</span><span id="so"></span></li>
                <li><span class="nombreDato">Processor: {{requisitosMinimos.processor}}</span><span id="procesador"></span></li>
                <li><span class="nombreDato">Memory: {{requisitosMinimos.memory}}</span><span id="memoria"></span></li>
                <li><span class="nombreDato">Graphics: {{requisitosMinimos.graphics}}</span><span id="grafica"></span></li>   
                <li><span class="nombreDato">Storage: {{requisitosMinimos.storage}}</span><span id="almacenamiento"></span></li>     
            </ul>
        </article>
    </section>

    <section id="screenshots">
        <header>Screenshots</header>
    </section>

</section>
